{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Defintion</th>
                <td>{{ category.defintion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('category_index') }}">Retour a la liste</a>

    <a class="btn" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
